.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

body{
  width: 100%;
}
form{
  /* margin-top: 10%; */
  display: flex;
  flex-direction: column;
  border-radius: 7px; 
  padding: 30px 0px;
}
input{
  height: 40px;
  width: 200px;
  border-radius: 5px;
  margin: 20px 0px;
}
button{
  height: 40px;
  width: 90px;
  background-color: green;
  border-radius: 10px;
  /* margin-top: 20px; */
  color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
