<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mailingViaNodemailer</title>
    <style>
        body {
            background-color: rgb(233, 232, 232);
        }

        .section {
            background-color: white;
            width: 500px;
            margin: 15% 35%;
            border-radius: 5px;
        }

        button,
        input {
            height: 30px;
            width: 250px;
            margin: 12px 0px;
            border-radius: 5px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        button {
            background-color: green;
            color: white;
        }
    </style>
</head>

<body>
    <div class="section">
        <form class="form" action="/submit" method="POST">
            <h3>Enter Details</h3>
            <input type="text" placeholder="Enter Name" name="name" id="name" required>
            <input type="text" placeholder="Enter Your Country" name="country" id="country">
            <input type="number" placeholder="Enter Mobile Number" name="contact" id="contact">
            <input type="email" placeholder="Enter Your Email" name="email" id="email" required>
            <button type="submit" class="submit">Submit</button>
        </form>
    </div>

    <script>
        const form = document.querySelector('.form');
        let name = document.getElementById("name");
        let country = document.getElementById("country");
        let contact = document.getElementById("contact");
        let email = document.getElementById("email");

        form.addEventListener('submit', (e) => {
            e.preventDefault();
            var formData = {
                name: name.value,
                country: country.value,
                contact: contact.value,
                email: email.value,
            }
            console.log(formData);
            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/');
            xhr.setRequestHeader('content-type', 'application/json');
            xhr.onload = function () {
                console.log(xhr.responseText);

                alert('Email Sent !!');
                name.value = '';
                country.value = '';
                contact.value = '';
                email.value = '';
            }
            xhr.send(JSON.stringify(formData))
        })
    </script>
</body>

</html>