<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <style>
        body{
            width: 100%;
        }
        .section{
          height: 500px;
            display: block;
            text-align: center;
            background-color: aqua;
            border-radius: 7px; 
            padding: 30px 0px;
        }
        
    </style>
</head>
<body>
  
  <div class="section">
    <img src="https://storage.googleapis.com/desktop-client-assets/images/success.png" alt="image">
    <h2> Hello <%=name%> </h2>
    <h4>Form Submitted Sucessfully !!</h4>
  </div>
    
   
  
</body>
</html>


